PGHOST=crystal-prod-db.postgres.database.azure.com
PGUSER=crystaladmin
PGPORT=5432
PGDATABASE=crystal
PGSSLMODE=require
PGPASSWORD=replace-with-your-password

DB_MIN_CONN=1
DB_MAX_CONN=25

RPC_HTTP=https://rpc.monad.xyz

CRYSTAL_ADDRESS=0x77d53B3b39af88ab51b38844cc93385EF5378080
VAULT_FACTORY_ADDRESS=0x3dbf7Da6BeC21F82E75e693cfF1d0BFA0Cd07Db1
NADFUN_ADDRESS=0xA7283d07812a02AFB7C09B60f8896bCEA3F90aCE
