PGHOST=crystal-prod-db.postgres.database.azure.com
PGUSER=crystaladmin
PGPORT=5432
PGDATABASE=crystal
PGSSLMODE=require
PGPASSWORD=replace-with-your-password

DB_MIN_CONN=1
DB_MAX_CONN=25

RPC_HTTP=https://rpc.monad.xyz

CRYSTAL_ADDRESS=0xAb0a934eea61C69329735EB37bd72d8c871C56F3
VAULT_FACTORY_ADDRESS=0x69e385b1A78B12beaF30f6fE2Df3c37bde1f1f33
NADFUN_ADDRESS=0xA7283d07812a02AFB7C09B60f8896bCEA3F90aCE
